// To check your environment run: gradle  mydigipass

environments {
  development {
    mydigipass_package_name = 'com.vasco.mydigipass'
    mdp_fallback_url = 'https://www.mydigipass.com/oauth/authenticate'
  }
}